
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Historique des parties</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
        <ion-item-sliding *ngFor="let game of gameHistory">
            <ion-item>
                <ion-label>
                    <h2>{{ game.category }}</h2>
                    <h3>{{ game.score }} / {{ game.total_questions }} ({{ calculatePercentage(game.score, game.total_questions) }}%)</h3>
                    <p>{{ game.difficulty }} - {{ formatDate(game.played_on) }}</p>
                </ion-label>
                <ion-badge slot="end" [color]="getBadgeColor(game.score, game.total_questions)">
                    {{ calculatePercentage(game.score, game.total_questions) }}%
                </ion-badge>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showStats()">
            <ion-icon name="stats-chart"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
