<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- ion-content ne peut exister qu'une seule fois par composant
  -> le ion-content va permettre d'injecter le contenu de la vue
  -> l'attribut fullscreen avec la valeur true lui indique d'utiliser
  -> toute la place disponible
 -->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          @for (photo of photoService.photos; track photo) {
            <ion-img [src]="photo.webviewPath"></ion-img>
          }
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
